{% if use_matomo %}
    {% load matomo_tags %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MGnify Biosynthetic Gene Clusters{% endblock %}</title>
    <link rel="stylesheet" href="https://assets.emblstatic.net/vf/v2.5.17/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="vf-body | vf-stack vf-stack--200">


    {% block hero %}
    <section class="vf-hero vf-hero--1200 | vf-u-fullbleed">
        <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
            <span class="vf-badge vf-badge--primary">beta</span>
            <h2 class="vf-hero__heading"> 
                <a href="{% url 'landing_page' %}" style="text-decoration: none; color: inherit;">MGnify Biosynthetic Gene Clusters</a> 
            </h2>
            <p class="vf-hero__text">Explore biosynthetic gene clusters.</p>
            <form id="keyword-form" action="{% url 'explore' %}" method="get" class="vf-form vf-form--search vf-form--search--mini | vf-sidebar vf-sidebar--end">
                <div class="vf-sidebar__inner">
                    <div class="vf-form__item">
                        <input type="search" placeholder="Search by keyword" id="search-keyword" name="keyword" class="vf-form__input"/>
                    </div>
                    <button type="submit" class="vf-button vf-button--primary">Search</button>
                </div>
                <p class="vf-text-body--5">
                    Example:  <a href="#" class="vf-link" id="example-link">Polyketide</a>
                </p>
            </form>
        </div>
    </section>
    {% endblock hero %}
        <nav class="vf-navigation vf-navigation--main | vf-cluster">
            <ul class="vf-navigation__list | vf-list | vf-cluster__inner">
                <li class="vf-navigation__item">
                    <a href="{% url 'landing_page' %}" class="vf-navigation__link" aria-current="page">Home</a>
                </li>
                <li class="vf-navigation__item">
                    <a href="{% url 'docs_index' %}" class="vf-navigation__link">Documentation</a>
                </li>
                <li class="vf-navigation__item">
                    <a href="/api/v1/docs" class="vf-navigation__link">API</a>
                </li>
                <li class="vf-navigation__item">
                    <a href="mailto:fragoso@ebi.ac.uk" class="vf-navigation__link">Feedback</a>
                </li>
            </ul>
        </nav>

    <main class="vf-main">
        <hr class="vf-divider" style="--context-margin--inline: 3rem;">
        <div class="vf-loader" id="search-loader" style="display: none;"></div>
        {% block content %}{% endblock %}
    </main>

    <footer class="vf-footer">
        <div class="vf-footer__inner">
            <div class="vf-grid">
                <div class="vf-grid__col--span-4">
                    <h3>Useful Links</h3>
                    <ul class="vf-list">
                        <li><a href="https://www.ebi.ac.uk/metagenomics" target="_blank" style="text-decoration: none; color: None;">MGnify</a></li>
                        <li><a href="https://www.ebi.ac.uk/metagenomics/proteins" target="_blank" style="text-decoration: none; color: None;">MGnify Proteins</a></li>
                        <li><a href="https://euremap.eu" target="_blank" style="text-decoration: none; color: None;">EUREMAP Project</a></li>
                    </ul>
                </div>
                <div class="vf-grid__col--span-4">
                    <h3>Help</h3>
                    <ul class="vf-list">
                        <li><a href="docs_index" style="text-decoration: none; color: None;">Documentation</a></li>
                        <li><a href="/api/v1/docs" style="text-decoration: none; color: None;">API</a></li>
                        <li><a href="mailto:fragoso@ebi.ac.uk" style="text-decoration: none; color: None;">Helpdesk</a></li>
                    </ul>
                </div>
            </div>
            <p class="vf-footer__notice">© 2024 EMBL-EBI</p>
            <div data-vf-js-banner-cookie-name="emblContentHub27360"
                 class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--notice"
                 data-vf-js-banner="true"
                 data-vf-js-banner-cookie-version="224467"
                 data-vf-js-banner-state="dismissible"
                 data-vf-js-banner-button-text="I agree">
                <div class="vf-banner__content | vf-grid" data-vf-js-banner-text="">
                    <p class="vf-text vf-text-body--2"> This website uses cookies to function.
                        By using the site you are agreeing to this as outlined in our
                        <a class="vf-banner__link" href="https://www.embl.org/info/privacy-policy/">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://assets.emblstatic.net/vf/v2.5.17/scripts/scripts.js"></script>
    
    <script>
    document.getElementById('example-link').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default link behavior
        const searchInput = document.getElementById('search-keyword');
        searchInput.value = 'Polyketide';  // Set the value of the input field

        // Optionally, submit the form automatically
        // document.getElementById('keyword-form').submit();
    });

        window.onload = function() {
            // Select the form and loader directly
            const form = document.getElementById('keyword-form');
            const loader = document.getElementById('search-loader');
    
            // Ensure the elements are found before adding the listener
            if (form) {
                form.addEventListener('submit', function(event) {
                    // Prevent the default form submission
                    event.preventDefault();
    
                    // Get the value of the 'keyword' input
                    const keyword = form.querySelector('input[name="keyword"]').value;
    
                    // Show the loader
                    $('.vf-loader').show();
    
                    // Disable form inputs to prevent multiple submissions
                    form.querySelectorAll('input, button').forEach(element => element.disabled = true);
    
                    // Construct the URL with the query parameters
                    const actionUrl = form.getAttribute('action'); // Get the form action URL
                    // const queryString = new URLSearchParams(new FormData(form)).toString(); // Serialize form data to query string
    
                    // Redirect to the constructed URL
                    window.location.href = `${actionUrl}?keyword=${keyword}`;
                });
            } else {
            }
        };
    </script>
    
    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->
</body>
</html>
