{% extends 'base.html' %}

{% block title %}MGnify BGCs - Aggregated region{% endblock %}

{% block content %}


<div class="vf-grid vf-grid__col--span-12">
    <section class="vf-content">
        <h1 class="vf-text vf-text-heading--2">Aggregated Region</h1>

        <!-- Summary Section -->
        <section class="vf-summary-container | embl-grid">
            <!-- Sample Information -->
            <!-- Aggregated Region -->
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading">Summary</h2>
            </div>
            <div class="vf-section-content | vf-grid vf-grid__col-2">
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Predicted classes</h3>
                    <div class="vf-summary__text predictor-class-grid">
                        {% for predictor, classes in predicted_classes_dict.items %}
                            <div>
                                <strong>{{ predictor }}</strong>
                                {% for class_name in classes %}
                                    <div>{{ class_name }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </article>
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Functional annotations</h3>
                    <div class="vf-summary__text predictor-class-grid">
                        {% for predictor, classes in functional_annotation_dict.items %}
                            <div>
                                {% if '_' in predictor %}
                                    <strong></strong>
                                    <!-- <div></div> -->
                                {% else %}
                                <strong>{{ predictor }}</strong>
                                {% endif %}
                                {% for class_name in classes %}
                                    <div>{{ class_name }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </article>
            </div>
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading">Sample information</h2>
            </div>
            <div class="vf-section-content | vf-grid vf-grid__col-5">
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Assembly</h3>
                    <p class="vf-summary__text">
                        <a href="{{ assembly_url }}" target="_blank" onclick="window.open(this.href, '_blank'); return false;" class="vf-summary__link">{{ assembly_accession }}</a>
                    </p>                </article>
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Biome</h3>
                    <p class="vf-summary__text">{{ biome_lineage }}</p>
                </article>
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Contig</h3>
                    <p class="vf-summary__text">{{ mgyc }}</p>
                </article>
                <article class="vf-summary">
                    <h3 class="vf-summary__title">Start</h3>
                    <p class="vf-summary__text">{{ start_position }}</p>
                </article>
                <article class="vf-summary">
                    <h3 class="vf-summary__title">End</h3>
                    <p class="vf-summary__text">{{ end_position }}</p>
                </article>
            </div>
        </section>
    </section>
</div>
<hr class="vf-divider| vf-u-fullbleed" style="--context-margin--inline: 3rem;">
        <!-- End of Summary Section -->
<div class="vf-grid vf-grid__col--span-12">
    <section class="vf-content">
        <h1 class="vf-text vf-text-heading--2">Explore region</h1>

        <!-- Display the plot here -->
        <div class="vf-content__body">
            {{ plot_html|safe }}
        </div>
        <!-- Download options -->
        <form action="{% url 'download_bgc_data' mgyc start_position end_position %}" method="get" class="vf-form download-form">
            <div class="vf-form__item vf-form__item--inline stacked-item">
                <label for="output_type" class="vf-form__label">Select Format</label>
                <select id="output_type" name="output_type" class="vf-form__select wider-select">
                    <option value="gbk">GenBank</option>
                    <option value="fasta">FASTA</option>
                    <option value="json">JSON</option>
                </select>
            </div>
            <div class="vf-form__item vf-form__item--inline">
                <button type="submit" class="vf-button vf-button--primary vf-button--compact">Download</button>
            </div>
        </form>

        <!-- CDS Information Section -->
        <article class="vf-card vf-card--brand vf-card--bordered">
        <div class="vf-card__content | vf-stack vf-stack--400">
        <h2 id="cds_header" class="vf-text vf-text-heading--3">Protein information</h2>
        <div id="cds-info" class="vf-grid vf-grid__col-12"></div>
        <p id="default-message">Click a CDS in the plot to display information.</p>
        <!-- <div id="cds-info" class="vf-section-content | vf-grid vf-grid__col-12"> -->
            <!-- CDS details will be dynamically loaded here -->   
        </div>
        </div>
    </article>
     </section>

    </section>

</div>

<script>
    var plot = document.getElementById('bgc-plot');
    var cdsInfoDict = {{ cds_info_dict|safe }};  // Pass the dictionary as a JSON object to JavaScript

    plot.on('plotly_click', function(data){


        var point = data.points[0];

        var traceIndex = point.curveNumber;

        // Reset previously highlighted traces by setting line width to 1 and keeping their original color
        plot.data.forEach((trace, index) => {
            // Check if the trace is of type CDS or ANNOT
            if (trace.legendgroup.includes('CDS') || trace.legendgroup.includes('GO slim')) {
                Plotly.restyle(plot, { line: { width: 1.5, color: trace.line.color } }, [index]);
            }
        });

        // Highlight the clicked trace by increasing its line width while preserving the original color
        Plotly.restyle(plot, { line: { width: 5, color: plot.data[traceIndex].line.color } }, [traceIndex]);


        if (point.data.customdata.length) {
            var cds_id = point.data.customdata[1]; // Assume this is the CDS ID or key
            // Retrieve the CDS information from the dictionary
            var cdsInfo = cdsInfoDict[cds_id];
            var cdsInfoContainer = document.getElementById('cds-info');
            document.getElementById('default-message').style.display = 'none';
            // document.getElementById('cds_header').style.display = 'none';

            // Hide the current content with a transition
            cdsInfoContainer.classList.remove('show');
            
            // Use a timeout to allow the hide transition to complete before changing the content
            setTimeout(function() {
                if (cdsInfo) {
                    let pfamTableRows = cdsInfo.pfam.map(dct => `
                        <tr class="vf-table__row">
                            <td class="vf-table__cell">
                                <a href="https://www.ebi.ac.uk/interpro/entry/pfam/${dct.PFAM}/" target="_blank" onclick="window.open(this.href, '_blank'); return false;">
                                    ${dct.PFAM}
                                </a>
                            </td>
                            <td class="vf-table__cell">${dct.description}</td>
                            <td class="vf-table__cell">${dct.go_slim}</td>
                            <td class="vf-table__cell">${dct.envelope_start}</td>
                            <td class="vf-table__cell">${dct.envelope_end}</td>
                            <td class="vf-table__cell">${dct['e-val']}</td>
                        </tr>
                    `).join('');

                    // Override the CDS info section with the retrieved data
                    cdsInfoContainer.innerHTML = `
                        <div class="vf-summary">
                            <!-- Summary Section -->
                            <section class="vf-summary-container | embl-grid">
                                <!-- Protein Information  -->
                                <div class="vf-section-header">
                                    <h2 class="vf-section-header__heading">${cds_id}</h2>
                                </div>
                                <div class="vf-section-content | vf-grid vf-grid__col-5">
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">Cluster representative</h3>
                                        <p class="vf-summary__text">
                                            <a href=${cdsInfo.cluster_representative_url} class="vf-summary__link">${cdsInfo.cluster_representative}</a>
                                        </p>                
                                    </article>
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">Protein length</h3>
                                        <p class="vf-summary__text">${cdsInfo.protein_length}</p>
                                    </article>
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">Gene caller</h3>
                                        <p class="vf-summary__text">${cdsInfo.gene_caller}</p>
                                    </article>
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">Start</h3>
                                        <p class="vf-summary__text">${cdsInfo.start}</p>
                                    </article>
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">End</h3>
                                        <p class="vf-summary__text">${cdsInfo.end}</p>
                                    </article>
                                    <article class="vf-summary">
                                        <h3 class="vf-summary__title">Strand</h3>
                                        <p class="vf-summary__text">${cdsInfo.strand}</p>
                                    </article>
                                </div>
                            </section>
                            
                            <div class="vf-card__content | vf-stack vf-stack--400 | sequenceViewerDiv">
                                <h3 class="vf-card__heading">Sequence Viewer</h3>
                                <div id="proteinSequenceContainer" class="protein-sequence-container">
                                    ${cdsInfo.sequence.trim()}
                                </div>
                                <div class="right-align">
                                    <button id="copy_button" class="vf-button vf-button--primary vf-button--sm">Copy</button>
                                </div>
                            </div>

                            <!-- PFAM Annotations Table -->
                            <div class="vf-card__content | vf-stack vf-stack--400">
                                <h3 class="vf-card__heading">PFAM Annotations</h3>
                                <table class="vf-table | vf-u-fullbleed">
                                    <thead class="vf-table__header">
                                        <tr class="vf-table__row">
                                            <th class="vf-table__heading" scope="col">PFAM</th>
                                            <th class="vf-table__heading" scope="col">Description</th>
                                            <th class="vf-table__heading" scope="col">GO slim</th>
                                            <th class="vf-table__heading" scope="col">Envelope Start</th>
                                            <th class="vf-table__heading" scope="col">Envelope End</th>
                                            <th class="vf-table__heading" scope="col">E-value</th>
                                        </tr>
                                    </thead>
                                    <tbody class="vf-table__body">
                                        ${pfamTableRows}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    `;

                    // Re-attach the event listener to the new copy button
                    document.getElementById('copy_button').addEventListener('click', function() {
                        // Get the sequence text from the container and trim it to remove excess whitespace
                        var sequenceText = document.getElementById('proteinSequenceContainer').textContent.trim();

                        // Use the Clipboard API to copy the trimmed text to the clipboard
                        navigator.clipboard.writeText(sequenceText).then(function() {
                            // Success feedback (optional)
                        }).catch(function(error) {
                            // Error feedback (optional)
                            console.error('Failed to copy text: ', error);
                        });
                    });

                    // Show the content with a fade-in effect
                    setTimeout(function() {
                        cdsInfoContainer.classList.add('show');
                    }, 10); // Slight delay to trigger the CSS transition
                } else {
                    // Handle case where no CDS information is found for the given ID
                    cdsInfoContainer.innerHTML = `
                        <div class="vf-summary">
                            <h3 class="vf-summary__title">CDS Information Not Found</h3>
                        </div>
                    `;
                    cdsInfoContainer.classList.add('show');
                }
            }, 500); // Wait for the hide transition to complete
        }
    });
</script>




{% endblock %}
