<div class="content-section">
  <!-- Summary Section -->
  <div id="results_summary" class="vf-summary-container">
    {% if not results %}
      <div class="vf-section-header">
        <h2 class="vf-section-header__heading">Explore the data</h2>
      </div>
    {% else %}
      <div class="vf-section-header">
        <h2 class="vf-section-header__heading">Search results</h2>
      </div>
    {% endif %}
    <div class="vf-section-content | vf-grid vf-grid__col-4">
      <article class="vf-summary">
        <h3 class="vf-summary__title">Total BGC</h3>
        <div class="vf-summary__text predictor-class-grid">
          <strong>{{result_stats.total_regions}}</strong>
        </div>
      </article>
      <article class="vf-summary">
        <h3 class="vf-summary__title">Total Studies</h3>
        <div class="vf-summary__text predictor-class-grid">
          <strong>{{result_stats.n_studies}}</strong>
        </div>
      </article>
      <article class="vf-summary">
        <h3 class="vf-summary__title">Total Assemblies</h3>
        <div class="vf-summary__text predictor-class-grid">
          <strong>{{result_stats.n_assemblies}}</strong>
        </div>
      </article>
      <article class="vf-summary">
        <h3 class="vf-summary__title">Class distribution</h3>
        <div class="vf-summary__text predictor-class-grid">
          {% for clss, counts in result_stats.bgc_class_dist.items %}
            <div>
              <strong>{{clss}}</strong>: {{counts}}
            </div>
          {% endfor %}
        </div>
      </article>
    </div>
  </div>


<h3 class="vf-section-header__heading">Results</h3>
<table id="explore-table" class="vf-table">
  <thead class="vf-table__header">
    <tr class="vf-table__row">
      <th class="vf-table__heading" scope="col">MGYB</th>
      <th class="vf-table__heading" scope="col">Assembly</th>
      <th class="vf-table__heading" scope="col">MGYC</th>
      <th class="vf-table__heading" scope="col">Start</th>
      <th class="vf-table__heading" scope="col">End</th>
      <th class="vf-table__heading" scope="col">Detectors</th>
      <th class="vf-table__heading" scope="col">Classes </th>
      <th class="vf-table__heading" scope="col">Details</th>
    </tr>
  </thead>
  <tbody class="vf-table__body">
    {% for bgc in results %}
    <tr class="vf-table__row">
      <td class="vf-table__cell">{{ bgc.mgybs|join:', ' }}</td>
      <td class="vf-table__cell">{{ bgc.mgyc.assembly.accession }}</td>
      <td class="vf-table__cell">{{ bgc.mgyc.mgyc }}</td>
      <td class="vf-table__cell">{{ bgc.start_position }}</td>
      <td class="vf-table__cell">{{ bgc.end_position }}</td>
      <td class="vf-table__cell">{{ bgc.bgc_detector_names|join:', ' }}</td>
      <td class="vf-table__cell">{{ bgc.bgc_class_names|join:', ' }}</td>
      <td class="vf-table__cell">
        <a href="{% url 'bgc_page' bgc.mgyc.mgyc bgc.start_position bgc.end_position %}" target="_blank" onclick="window.open(this.href, '_blank'); return false;">
          View
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




<div class="pagination" style="text-align: center; margin-top: 20px;">
    <button id="pag_button_p" class="vf-button vf-button--primary" data-page="1">First</button>
    {% if results.has_previous %}
      <button id="pag_button_s" class="vf-button vf-button--secondary" data-page="{{ results.previous_page_number }}">Previous</button>
    {% else %}
      <button id="pag_button_s" class="vf-button vf-button--secondary" disabled>Previous</button>
    {% endif %}
    <span class="vf-pagination__info">
        Page {{ results.number }} of {{ results.paginator.num_pages }}
    </span>

    {% if results.has_next %}
      <button id="pag_button_s" class="vf-button vf-button--secondary" data-page="{{ results.next_page_number }}">Next</button>
    {% else %}
      <button id="pag_button_s" class="vf-button vf-button--secondary" disabled>Next</button>
    {% endif %}
    <button id="pag_button_p" class="vf-button vf-button--primary" data-page="{{ results.paginator.num_pages }}">Last</button>
  </div>


