{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}

{% block content %}
<section class="vf-intro">
  <div class="vf-grid">
    <div class="vf-grid__col--span-5">
      <h2 class="vf-intro__heading">Search BGC</h2>
    </div>
  </div>
</section>
<style>
  /* Tooltip container */
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
/* Superscript encircled "?" icon */
.tooltip-container .tooltip-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background-color: #007cbb; /* Customize color as needed */
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  vertical-align: super; /* Align as superscript */
  margin-left: 5px; /* Space between label and icon */
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%; /* Position above the icon */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
</style>

<div class="vf-grid">
  <!-- Search Sidebar -->
  <aside class="vf-grid__col--span-3">
    <form id="search-form" action="{% url 'explore' %}" method="get" class="vf-form">
      <h3>Advanced Search</h3>
      
      
<!-- BGC Class Name -->
<div class="vf-form__item">
  <label for="bgc_class_name" class="vf-form__label">BGC Class Name
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">The BGC Class Name is used to classify the biosynthetic gene clusters based on their type.</span>
    </span>
  </label>
  <input type="text" id="bgc_class_name" name="bgc_class_name" class="vf-form__input" value="{{ request.GET.bgc_class_name }}">
</div>

<!-- BGC Accession -->
<div class="vf-form__item">
  <label for="mgyb" class="vf-form__label">BGC Accession
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">The BGC Accession is the unique identifier assigned to a biosynthetic gene cluster.</span>
    </span>
  </label>
  <input type="text" id="mgyb" name="mgyb" class="vf-form__input" value="{{ request.GET.mgyb }}">
</div>

<!-- Assembly Accession -->
<div class="vf-form__item">
  <label for="assembly_accession" class="vf-form__label">Assembly Accession
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">The Assembly Accession is the identifier for the assembled sequence from which the BGC was predicted.</span>
    </span>
  </label>
  <input type="text" id="assembly_accession" name="assembly_accession" class="vf-form__input" value="{{ request.GET.assembly_accession }}">
</div>

<!-- Contig MGYC -->
<div class="vf-form__item">
  <label for="contig_mgyc" class="vf-form__label">Contig MGYC
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">The Contig MGYC is the identifier for the contig that contains the BGC.</span>
    </span>
  </label>
  <input type="text" id="contig_mgyc" name="contig_mgyc" class="vf-form__input" value="{{ request.GET.contig_mgyc }}">
</div>

<!-- Biome lineage -->
<div class="vf-form__item">
  <label for="biome_lineage" class="vf-form__label">Biome
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">The Biome refers to the ecological community where the BGC was found.</span>
    </span>
  </label>
  <input type="text" id="biome_lineage" name="biome_lineage" class="vf-form__input" value="{{ request.GET.biome_lineage }}">
</div>

<!-- Truncation -->
<div class="vf-form__item">
  <label for="Edges" class="vf-form__label">BGC Completeness
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">BGC Completeness indicate whether the BGC is full_length, single-truncated, or double-truncated.</span>
    </span>
  </label>
  <div class="vf-checkbox">
    <input type="checkbox" id="full_length" name="full_length" class="vf-checkbox__input" value="true"
           {% if request.GET.full_length == 'true' or request.GET.full_length is None %}checked{% endif %}>
    <label for="full_length" class="vf-checkbox__label">Full-Length BGC</label>
  </div>
  <div class="vf-checkbox">
    <input type="checkbox" id="single_truncated" name="single_truncated" class="vf-checkbox__input" value="true"
           {% if request.GET.single_truncated == 'true' or request.GET.single_truncated is None %}checked{% endif %}>
    <label for="single_truncated" class="vf-checkbox__label">Single</label>
  </div>
  <div class="vf-checkbox">
    <input type="checkbox" id="double_truncated" name="double_truncated" class="vf-checkbox__input" value="true"
           {% if request.GET.double_truncated == 'true' or request.GET.double_truncated is None %}checked{% endif %}>
    <label for="double_truncated" class="vf-checkbox__label">Double</label>
  </div>
</div>

<!-- Pfam -->
<div class="vf-form__item">
  <label for="protein_pfam" class="vf-form__label">Pfam
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">Pfam is a database of protein families, each represented by multiple sequence alignments and hidden Markov models (HMMs).</span>
    </span>
  </label>
  <input type="text" id="protein_pfam" name="protein_pfam" class="vf-form__input" value="{{ request.GET.protein_pfam }}">
</div>

<!-- Pfam Strategy -->
<div class="vf-form__item">
  <label for="pfam_strategy" class="vf-form__label">Pfam strategy
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">Choose "AND" to include BGCs that match all Pfams, or "OR" to include BGCs that match any Pfam.</span>
    </span>
  </label>
  <select id="pfam_strategy" name="pfam_strategy" class="vf-form__select">
    <option value="intersection" {% if request.GET.pfam_strategy == "intersection" %}selected{% endif %}>AND</option>
    <option value="union" {% if request.GET.pfam_strategy == "union" %}selected{% endif %}>OR</option>
  </select>
</div>

<!-- Detectors -->
<div class="vf-form__item">
  <label for="detectors" class="vf-form__label">BGC Detectors
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">Select the detectors to filter BGCs by the tool used to identify them.</span>
    </span>
  </label>
  <div class="vf-checkbox">
    <input type="checkbox" id="antismash" name="antismash" class="vf-checkbox__input" value="true"
           {% if request.GET.antismash == 'true' or request.GET.antismash is None %}checked{% endif %}>
    <label for="antismash" class="vf-checkbox__label">antiSMASH</label>
  </div>
  <div class="vf-checkbox">
    <input type="checkbox" id="gecco" name="gecco" class="vf-checkbox__input" value="true"
           {% if request.GET.gecco == 'true' or request.GET.gecco is None %}checked{% endif %}>
    <label for="gecco" class="vf-checkbox__label">GECCO</label>
  </div>
  <div class="vf-checkbox">
    <input type="checkbox" id="sanntis" name="sanntis" class="vf-checkbox__input" value="true"
           {% if request.GET.sanntis == 'true' or request.GET.sanntis is None %}checked{% endif %}>
    <label for="sanntis" class="vf-checkbox__label">SanntiS</label>
  </div>
</div>

<!-- Aggregate Strategy -->
<div class="vf-form__item">
  <label for="aggregate_strategy" class="vf-form__label">Aggregate strategy
    <span class="tooltip-container">
      <span class="tooltip-icon">?</span>
      <span class="tooltip-text">Select the aggregate strategy for how results should be combined.</span>
    </span>
  </label>
  <select id="aggregate_strategy" name="aggregate_strategy" class="vf-form__select">
    <option value="single" {% if request.GET.aggregate_strategy == "single" %}selected{% endif %}>Single</option>
    <option value="union" {% if request.GET.aggregate_strategy == "union" %}selected{% endif %}>Union</option>
    <option value="intersection" {% if request.GET.aggregate_strategy == "intersection" %}selected{% endif %}>Intersection</option>
  </select>
</div>

      
      <!-- Submit Button -->
      <div class="vf-form__item">
        <button type="submit" class="vf-button vf-button--primary">Apply</button>
      </div>
    </form>
  </aside>


  <section class="vf-content vf-stack vf-stack--400">
    <div class="vf-grid vf-grid__col--span-12">
      <div class="vf-grid__col--span-12">
          <div id="results">
              {% if results %}
                  {% include 'explore_table.html' %}
              {% else %}
                  <p>Enter search criteria and click "Apply" to search for metadata.</p>
              {% endif %}
          </div>
      </div>
    </div>
  </section>

<script>
 $(document).ready(function() {
    // Handle form submission
    $('#search-form').on('submit', function(e) {
        e.preventDefault();
        loadResults(1);  // Load the first page of results
    });

    // Handle pagination button clicks
    $(document).on('click', '.pagination button', function(e) {
        e.preventDefault();
        var page = $(this).data('page');  // Get the page number from the button's data attribute
        loadResults(page);
    });

    function loadResults(page) {
        $.ajax({
            url: "{% url 'explore' %}",
            type: "GET",
            data: $('#search-form').serialize() + '&page=' + page,
            success: function(response) {
                $('#results').html(response);
            },
            error: function(xhr, status, error) {
                console.error("AJAX Error:", status, error);
                $('#results').html('<p>An error occurred. Please try again.</p>');
            }
        });
    }
});

</script>

{% endblock %}

